name: GitHub Pages

on:
  push:
    branches:
      - main # Set a branch name to trigger deployment
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.155.0" # 建議 Extended 穩定版
          extended: true # 要支援 SCSS/SASS 必須加這個

      - name: Install theme
        run: |
          rm -rf themes/hugo-theme-stack
          git clone https://github.com/CaiJimmy/hugo-theme-stack themes/hugo-theme-stack

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        # If you're changing the branch from main,
        # also change the `main` in `refs/heads/main`
        # below accordingly.
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          # 建議指定部署分支，預設通常是 gh-pages
          publish_branch: gh-pages
          force_orphan: true # 讓部署歷史保持乾淨，減少衝突
